<div class="row section-1">
    <div class="columns">
        <a href=""><img src="assets/img/logo.png" class="logo" alt="rm workspace logo"></a>
        <div class="float-right">
            <button class=" request-demo button-1 b-radius button" href="#">REQUEST A DEMO</button>
            <div id="nav-burger">
                <span></span>
                <span></span>
                <span></span>
                <p>menu</p>
            </div>
            {{>full-nav}}
        </div>
    </div>
</div>
